html {
  box-sizing: border-box;
}

* * ::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --selection-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background: var(--primary-background);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Контеинер */

header {
  border-bottom: 1px solid #ececec;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Навигация хедера */

.header-conteiner {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
}

.navbar-links {
  margin-left: 93px;
}

.navbar-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer-logo,
.navbar-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.nav-web {
  color: var(--selection-color);
}

.navbar-links {
  display: flex;
}

.navbar-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current,
.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:focus {
  color: var(--selection-color);
}

.navbar-links .navbar-list + .navbar-list {
  margin-left: 50px;
}

/* Контакты хедера */

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .contact-list + .contact-list {
  margin-left: 50px;
}

.contact {
  display: block;
  color: var(--secondary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
}

.contact:hover,
.contact:focus {
  color: var(--selection-color);
}

/* Герой */

.section {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопки */

.button {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px solid transparent;
}

.current-button,
.button:hover,
.button:focus {
  color: #ffffff;
  background: var(--selection-color);
}

.hero-button {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--selection-color);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
}

/* Стратегия */

.strategy-plan {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.strategy-plan .strategy-list + .strategy-list {
  margin-left: 30px;
}

.strategy-list {
  width: 270px;
}

.strategy-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.strategy-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Занятия */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works {
  padding-top: 0;
}

.work-img {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
}

.work-img .work-list + .work-list {
  margin-left: 30px;
}

/* Команда */

.command {
  background: #f5f4fa;
}

.command-lists {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.command-lists .command-list + .command-list {
  margin-left: 30px;
}

.command-list {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 0 solid #eeeeee;
}

.comands {
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-title,
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.command-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command-profession {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Фильтеры */

.filters {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons .filter-btn + .filter-btn {
  margin-left: 8px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.filter-list:nth-child(-n + 3) {
  margin-top: 0;
}

.filter-list {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
}

.filter-link.image {
  margin-top: 0;
}

.list-item {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.filter-link {
  text-decoration: none;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-studio {
  color: #ffffff;
}

.logo {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: #ffffff;
}

/*margin-top: 20px;*/
.address-list {
  margin-bottom: 9px;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-contact:hover,
.address-contact:focus {
  color: var(--selection-color);
}
